.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box--user-name
          = current_user.name
        %ul.side-header__box__menu
          %li
            = link_to new_group_path do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
    .groups
      = render 'group'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box--current-group
          test
        %ul.main-header__left-box__member-list
          Member：
          %li
            test1
      %a{href: "#"}
        .edit-btn
          Edit
    .messages
      = render partial: 'message'
    .form
      %form.form__new-message
        .input-box
          %input.input-box__text{type: "text", placeholder: "type a message"}
          %label.input-box__image
            %i.fa.fa-image
            %input.input-box__image__file{type: "file", name: "image"}
        %input.submit-btn{type: "submit", value: "Send"}
