.wrapper
  = render 'chat-side'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box--current-group{"data-group-id": "#{@group.id}"}
          = @group.name
        %ul.main-header__left-box__member-list
          Member：
          %li
            - @group.users.select("id") do |user|
              = user.name
      = link_to "Edit", 'edit'
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn' ,id: 'submit-btn'
